@import "common/colors"
//header + section1
.logo
	font-family: 'Montserrat', sans-serif;
	font-size: rem(30)
	font-weight: bold
.Creative-Template-p
	font-family: 'Kaushan Script', cursive;
	font-weight: normal
	color: $color-standart-section1
.Welcome-to-MoGo-p	
	font-family: 'Montserrat', sans-serif;
	color: $color-standart-section1
	font-weight: bold
	line-height: 1em
//section2
.what-we-do
	font-family: 'Kaushan Script', cursive;
	font-weight: normal
	color: $color-standart-section2
.story-about-us
	font-family: 'Montserrat', sans-serif;
	font-weight: bold
.counter-item
	font-family: 'Montserrat', sans-serif;
	font-weight: normal