@import "common/colors"
@import "bootstrap_c/type"


p
	font-family: 'Roboto', sans-serif
	color: $color-p-standart
	font-size: rem(14)


//welcome
.logo
	font-family: 'Montserrat', sans-serif
	font-size: rem(30)
	font-weight: bold
.Creative-Template
	font-family: 'Kaushan Script', cursive
	font-weight: normal
	color: $color-standart-section1
	font-size: rem(50)
.Welcome-to-MoGo
	font-family: 'Montserrat', sans-serif
	color: $color-standart-section1
	font-weight: bold
	line-height: 1em
	font-size: rem(85)
.caption
    position: absolute
    top: 20%
    left: 0
    right: 0
    z-index: 15
//padding 
#about-us, #services, #what-we-do, #our-partner, #works, #our-team
    padding: rem(50) rem(0)
//header
.unique-header,	.happy-header,.people-header, .blog-header 
	padding: rem(50) rem(0)
//name-standart
.name-section-style-h2
	font-family: 'Kaushan Script', cursive
	font-weight: normal
	color: $color-standart-section2
.name-section-style-h1
	font-family: 'Montserrat', sans-serif
	font-weight: bold
//Montserrat
.counter-item span, .team-content h5, .library-p-name, .about-p-name
	font-family: 'Montserrat', sans-serif
	font-weight: 500
//max-width:90%, margin: rem(10)
.head-title p, .what-do-header p, .about-header p 
	max-width: 90%
	margin: rem(10) auto
.portfolio-header p
	margin: rem(0) auto rem(50) auto
//Amazing service
.media-body h4
	font-family: 'Montserrat', sans-serif
	font-weight: bold
	text-transform: uppercase
	margin: rem(0) rem(25)
.media-body p
	margin: rem(25) rem(25)
	text-align: justify
//happy
.media-body1 h6
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  font-size: rem(14)
.happy-content .p-content
    font-size: rem(14)
    font-style: italic
    &:before
      content: ""
      background: $hr-color-standart
      width: rem(65)
      height: rem(3)
      margin-top: rem(25)
      position: absolute
.media-body1 p
	 text-align: justify
//team
.team-content p
	font-style: italic   



     
      