#blog article
  .article-img
    position: relative
    margin-bottom: rem(20)
  .date
    position: absolute
    background: $box-shadow-img-section2
    left: rem(-10)
    bottom: rem(10)
    padding: rem(5) rem(15)
    color: $white
    .number
      display: block
      font-size: rem(28)
      line-height: 100%
      font-weight: bold
      font-family: 'Montserrat', sans-serif
    .text
      display: block
      font-weight: normal
      font-style: italic
  .articleTitle
    font-size: rem(14)
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    a
    	text-decoration: none
    	color: $color-standart-section2
  .article-prosmot
    border-top: rem(1) solid $border-img
    margin-top: rem(15)
    padding-top: rem(15)
    padding-bottom: rem(15)
    a
      text-decoration: none
      color: $color-p-standart
      display: inline-block
      margin-right: rem(20)
      font-style: italic
      font-weight: normal
      font-size: rem(12) 
      pointer-events: none
    .fa-icon
      color: $fa-icon-color
      font-size: rem(15)
.article-img img
  max-width: 100%
  max-height: 100%
.article-img a 
  pointer-events: none