@import "common/vars"
.section-1
	background-position: center
	background-image: url(..//img/bgc-img.jpg) 
	//background: linear-gradient(rgba(243,129,129,0.5)0%, rgba(252,227,138,1)50%) 
	min-height: 1000px
	background-size: cover
	
.hr-1
	border: 2px solid $color-standart-section1
	width: 80px



	
