@import "common/vars"
.caption
    position: absolute
    top: 15%
    left: 0
    right: 0
    z-index: 15
    text-align: center 
#about-us
    padding: rem(50) rem(0)
#services
    padding: rem(50) rem(0)
.about-header p
    max-width: 100%
    margin: 0 auto
    padding: rem(10) rem(0) rem(20) rem(0)
.services-header
    padding-bottom: rem(40)
    text-align: center
.block-center
    text-align: center
//лінії
.hr-1
	border: rem(2) solid $color-standart-section1
	width: rem(80) 
.hr-standart
    border: rem(2) solid $hr-color-standart
    width: rem(80) 

.hr-section
    border: rem(1) solid $border-img
